body {
  color: #a1622e;
  color: #887c48;
  color: #96908a;
  color: #2f2828;
  color: #332a24;
  color: #4e4d2e;
  color: rgba(255, 196, 3, 0.397);
  color: rgba(255, 255, 255, 0.863);
  color: #a4acc4;
  color: #313131;
  color: #151515;
  color: #382f2c;
}
